body,
html {
  padding: 0;
  margin: 0;
}

body {
  background-color: #f0eee5;
  min-height: 100vh;
}

#root {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

.nav {
  border-bottom: 1px solid rgba(128, 128, 128, 0.212);
}

.main {
  margin-top: 1em;
}

.left-column {
  padding-left: 2em;
}

.viewer {
  width: 700px;
  height: 500px;
  resize: both;
  overflow: auto;

  object {
    width: 100%;
    height: 100%;
  }
}

.years {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  transition: all 0.35s ease-in-out;
  overflow-y: hidden;

  .year {
    // flex-basis: 25%;
  }
}

.header {
  display: flex;
  gap: 2em;
}

.issues {
  display: flex;
  flex-wrap: wrap;
  gap: 0.3em;
  transition: all 0.25s ease-in-out;
  overflow-y: hidden;


  // button {
  //   flex: 1;
  //   max-width: 30%;
  // }
}

.search {
  transition: all 0.35s ease-in-out;
  overflow-y: hidden;

  .field {
    display: flex;
    gap: 1em;

    div.control {
      flex: 1;
    }
  }
}

.results {
  progress {
    width: 50%;
    margin: 3em auto 0 auto;
  }

  .result {
    cursor: pointer;
    display: flex;
    gap: 1em;
  }
}

.footer {
  padding-top: 3em;
  padding-bottom: 3em;
}

.images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5em;
  gap: 4em;

  image {
    flex-basis: 50%;
  }
}

.block .box h3.title {
  margin-bottom: 0;
}

.years,
.issues,
.results {
  padding-top: 1.5rem;
}

button.static {
  // padding-left: 0.6em;
  padding-right: 0;

  &:hover {
  }
}

div.buttons.has-addons {
  margin-bottom: 0;
}
