body,
html {
  padding: 0;
  margin: 0;
}

body {
  background-color: #f0eee5;
  min-height: 100vh;
}

#root {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

.nav {
  border-bottom: 1px solid rgba(128, 128, 128, 0.212);
}

.main {
  margin-top: 0.5em;
  gap: 1em;
}

.left-column {
  padding-left: 2em;
}

.viewer {
  width: 800px;
  height: 100%;
  resize: both;
  overflow: auto;

  object {
    width: 100%;
    height: 100%;
  }
}

.scroll-wrapper {
  transition: all 0.35s ease-in-out;
  overflow-y: hidden;
}

.years {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  padding-bottom: 1em;

  .year {
    // flex-basis: 25%;
  }
}

.header {
  display: flex;
  gap: 2em;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;

  h4 {
    user-select: none;
  }

  i.icon-arrow-left {
    transition: all 0.35s ease-in-out;
    display: inline-block;

    &.expanded {
      transform: rotate(-90deg);
    }
  }

  .buttons.has-addons {
    opacity: 0;
    transition: all 0.35s ease-in-out;

    &.expanded {
      opacity: 1;
    }

    .button {
      margin-bottom: 0;
    }
  }
}

.subheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.5em;
}

.issues {
  display: flex;
  flex-wrap: wrap;
  gap: 0.3em;
  transition: all 0.25s ease-in-out;
  overflow-y: hidden;

  // button {
  //   flex: 1;
  //   max-width: 30%;
  // }
}

.search {
  transition: all 0.35s ease-in-out;
  overflow-y: hidden;

  > .block:first-child {
    margin-bottom: 0.8rem;
  }

  .field {
    display: flex;
    gap: 1em;

    div.control {
      flex: 1;
    }
  }

  .load-more {
    display: flex;
    justify-content: center;
  }
}

.results {
  max-height: 500px;
  overflow-y: auto;

  &:not(:empty) {
    padding: 1em 0.8em 1em 0;
  }

  progress {
    width: 50%;
    margin: 3em auto 2em auto;
  }

  display: flex;
  flex-direction: column;
  gap: 1em;

  .result-numbered {
    display: flex;
    gap: 1em;
    align-items: center;

    .result {
      align-items: center;
      cursor: pointer;
      display: flex;
      gap: 2em;
      width: 100%;

      .tags {
        margin-bottom: 0;

        .tag {
          margin-bottom: 0;
        }
      }
    }
  }
}

.footer {
  padding-top: 3em;
  padding-bottom: 3em;
}

.images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5em;
  gap: 4em;

  image {
    flex-basis: 50%;
  }
}

.block .box h4.title,
.block .box h2.subtitle {
  margin-bottom: 0;
}

.years,
.issues,
.search {
  padding-top: 1.5rem;
}

button.static {
  // padding-left: 0.6em;
  padding-right: 0;

  &:hover {
  }
}

div.buttons.has-addons {
  margin-bottom: 0;
}

.button.is-year {
  border-color: transparent;

  &:hover {
    filter: brightness(96%);
  }

  &:focus:not(:active) {
    box-shadow: none;
  }

  &:active {
    filter: brightness(92%);

  }
}

.button.dark.is-year {
  &:hover {
    filter: brightness(94%);
  }

  &:active {
    filter: brightness(90%);
  }
}
