body,
html {
  padding: 0;
  margin: 0;
}

body {
  background-color: #f0eee5;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

.nav {
  border-bottom: 1px solid rgba(128, 128, 128, 0.212);
}

.main {
  margin-top: 1em;
}

.viewer {
  width: 700px;
  height: 500px;
  resize: both;
  overflow: auto;

  object {
    width: 100%;
    height: 100%;
  }
}

.timeline {
  display: flex;
  flex-direction: column;
  padding-left: 1em;
  overflow-y: auto;
  padding-top: 1em;
  padding-right: 1em;

  .year {
    width: 15px;
    height: 15px;
    min-height: 15px;
    border-radius: 50%;
    background-color: #ea8b23;
    position: relative;

    .text {
      position: absolute;
      width: max-content;
      font-size: 1.6rem;
      top: -9px;
      left: 30px;
    }
  }

  .connector {
    margin-left: 5px;
    border-left: 5px solid #e99439;
    padding: 15px 0;
    
    .issues {
      margin-left: -7px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      transition: all 0.35s ease-in-out;
      overflow-y: hidden;
      height: 0;

      .issue {
        display: flex;
        align-items: center;

        &:first-child {
          padding-top: 10px;
        }

        .dot {
          width: 10px;
          height: 10px;
          min-height: 10px;
          border-radius: 50%;
          background-color: #1b70b1;
          outline: 4px solid #f0eee5;
        }

        .line {
          margin-left: -1px;
          height: 4px;
          min-height: 4px;
          width: 30px;
          background-color: #1b70b1;
          border-radius: 0 4px 4px 0;
        }

        .text {
          margin-left: 8px;
        }
      }
    }
  }
}
